$breakpoints: (
		'xs-phone': 320px,
		'phone': 480px,
		'tablet': 768px,
		'desktop': 1024px,
		'widescreen': 1200px
);

// keywords
$media-expressions: (
		'screen': 'screen',
		'print': 'print',
		'handheld': 'handheld',
		'landscape': '(orientation: landscape)',
		'portrait': '(orientation: portrait)',
		'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
		'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';

$colorDark: #262231;
$colorLight: #f5f3e6;

@mixin bg-grad {
	background: #fe015c;
	background: -moz-linear-gradient(-45deg, #fe015c 0%, #562aff 100%);
	background: -webkit-linear-gradient(-45deg, #fe015c 0%, #562aff 100%);
	background: linear-gradient(135deg, #fe015c 0%, #562aff 100%);
}

@mixin bg-re-grad {
	background: #562aff;
	background: -moz-linear-gradient(-45deg, #562aff 0%, #fe015c 100%);
	background: -webkit-linear-gradient(-45deg, #562aff 0%, #fe015c 100%);
	background: linear-gradient(135deg, #562aff 0%, #fe015c 100%);
}

body {
	background: #262231;
	color: #f5f3e6;
}

h1 {
	font-size: 30px;
	text-align: center;
	position: relative;
	margin: 20px 0;
}

ul {
	list-style: none;
	text-align: center;
	padding-left: 0;
}

.btn-wrap{
	text-align: center;
}

a.my-btn {
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 2px;
	color: #262231;
	border-radius: 5px;
	transition: .5s;
	position: relative;
	overflow: hidden;
	text-transform: uppercase;
	@include bg-grad;
	& > span {
		position: relative;
		z-index: 1;
		font-weight: 900;
	}
	&:before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		top: 0;
		right: 0;
		transition: .5s;
		@include bg-re-grad;

	}
	&:hover {
		&:before {
			opacity: 0;
		}
	}
	&:active {
		transition: .1s;
		transform: scale(.99);
	}
	&.active {
		&:before {
			opacity: 0;
		}
	}
}

#map{
	text-align: center;
	width: 100%;
	height: calc(100vh - 76px);
}
.content-wrap{
	border: 3px solid $colorLight;
	border-radius: 10px;
	background: $colorDark;
	&:before{
		content: "";
		position: absolute;
		border: 3px solid $colorLight;
		left: calc(50% - 25px);
		bottom: -20px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: $colorDark;
	}
	&:after{
		content: "";
		position: absolute;
		left: calc(50% - 50px);
		bottom: 0;
		width: 100px;
		height: 50px;
		background: $colorDark;
	}
	.gm-style-iw{
		top: 0 !important;
		left: 0 !important;
		right: 0 !important;
		width: 100% !important;

		&>div:nth-child(1){
			max-width: 100% !important;
			width: auto;
		}
	}
	.close-style{
		z-index: -1 !important;
		img{
			opacity: 0;
		}
	}
	#my-content{
		position: relative;
		z-index: 999;
		max-width: 300px;
		display: inline-block;
	}
	.close-popup{
		position: absolute;
		right: 7px;
		top: 7px;
		width: 14px;
		height: 14px;
		z-index: 99999;
		cursor: pointer;

		&:hover{
			&:before,&:after{
				background: #cbc9bf;
			}
		}

		&:before,&:after{
			content: '';
			position: absolute;
			left: 0;
			top:calc(50% - 1px);
			background: $colorLight;
			height: 2px;
			width: 100%;
			border-radius: 2px;
			transition: .3s;
		}
		&:before{
			transform: rotate(45deg);
		}
		&:after{
			transform: rotate(-45deg);
		}
	}
}
#my-content{
	position: relative;
	z-index: 999;
	max-width: 300px;
	display: inline-block;
}



